/* GENERAL */
:root {
  --black: #212121;
  --bg: #E8F5E9;
  --primary-color: #C8E6C9;
  --secondary-color: #E0F2F1;

  --accent-orange: #FFFDE7;
  --accent-green: #A5D6A7;
  --accent-green-dark: #8bca8e;

  --border-light-color: rgba(0, 0, 0, 0.11);
  --border-dark-color: rgb(183, 183, 183);
  --typewriter-color: #0A58CA;

  --gradient1: linear-gradient(135deg, var(--primary-color) 0%, var(--bg) 100%);
  --gradient2: linear-gradient(135deg, var(--secondary-color) 0%, var(--bg) 100%);
  --gradient3: linear-gradient(90deg, var(--accent-green) 0%, var(--accent-green-dark) 100%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background: var(--bg);
}

html {
  font-size: 30px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aic {
  align-items: center;
}

.ais {
  align-items: start;
}

.content-block {
  background-color: var(--secondary-color) !important;
  background-image: var(--gradient2) !important;
  border-radius: 0.35em;
  padding: 1.5em 1em;
}



/* HEADER, FOOTER */
header, footer {
  background-color: var(--primary-color);
  background-image: var(--gradient1);
  padding: 0.5em 0;
}

footer {
  border-top: 1px solid var(--border-light-color);
}

header h1, footer h2 {
  font-size: 2em;
  margin: 0;
}

.header__user-profile {
  gap: 0.5em;
  font-size: 1.2em;
}

.logout-button {
  color: #D32F2F;
}

.sign-up-or-login {
  font-size: 1.2em;
  display: flex;
  gap: 0.5em;
}

footer .container {
  justify-content: space-between;
}

.footer__right {
  gap: 1em;
}

.footer__about, .footer__terms-of-service {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.footer__icon {
  width: 1.8em;
  height: 1.8em;
}

.copyrating {
  opacity: 0.8;
}



/* FORM */
.form-block {
  display: block;
  width: 600px;
  margin: 0 auto;

  form {
    width: 500px;
    margin: 0 auto;
  }
}

input {
  margin: 0.2em 0 0.5em;
  font-size: 1em;
  background: inherit !important;
}

input::placeholder {
    font-size: inherit;
}

.toggle-container {
  position: relative;
}

.togglePassword {
  position: absolute;
  top: 50%;
  right: 1em;
  translate: 0 -50%;
  width: 1.25em;
  text-align: center;
}



/* WORD-SET CARDS */
.word-set-card-group {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
}

.word-set-card {
  background-color: var(--secondary-color) !important;
  background-image: var(--gradient2) !important;
}

.word-set-card__top {
  margin-bottom: 1em;
}

.word-set-card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}



/* COMPONENTS */
.my-progress-bar {
  width: 100%;
  height: 2.2em;
  background-color: var(--bg);
  border: 1px solid var(--border-light-color);
  border-radius: 100em;
  overflow: hidden;
  position: relative;
}

.my-progress-bar__filled {
  max-width: 100%;
  height: 100%;
  background-color: var(--accent-green);
  background-image: var(--gradient3);
  transition: width 0.3s ease-in-out;
  position: relative;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: var(--accent-green-dark);
}

.my-progress-bar__percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.mark-for-studing {
  cursor: pointer;
  width: 1.25em;
  height: 1em;
}

.mark-for-studing.big {
  width: 2.2em;
  height: 2.2em;
}

.mui-btn {
  width: 1.3em !important;
  height: 1.3em !important;
}

.table-limit {
  max-height: 80vh;
  overflow: auto;
}

.word-set-table {
  width: 100%;
  border-collapse: collapse;

  tbody {
    border: 3px solid var(--border-dark-color);
  }

  td {
    border: 2px solid var(--border-light-color);
    padding: 1em 0.75em;
    text-align: left;
  }

  td.max-width-fit-content {
    width: 0px;
    white-space: nowrap;
  }
}

.exercise-card {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  background-color: var(--primary-color);
  background-image: var(--gradient1);
  padding: 1em;
  gap: 0.5em;
}

.exercise-card h4 {
  margin-bottom: 0;
}

.exercise-logo {
  width: 1.5em;
  height: 1.5em;
}

.word-set-page-header {
  width: 100%;
  margin-bottom: 1em;

  .css-1fw0kwd-MuiFormControl-root-MuiTextField-root {
    margin-bottom: 0;
  }
}

.word-set-page-header__right {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.toggle-public-btn {
  margin-left: 12px;
}

.word-set-title {
  margin: 0;
}

.word-set-title pre {
  font: inherit;
  margin: 0;
}

/* .word-set-name-input {
  margin-right: 0.5em !important;
} */



/* CURSOR ANIMATION */
.typewriter-animation {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-family: consolas, monaco, monospace;
  animation: typewriter 1.5s steps(12) 0.2s 1 normal both;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 2px;
    height: 100%;
    background-color: currentColor;
    animation: blinkingCursor 0.53s infinite 1.8s alternate both linear;
  }

  &:hover:after {
    background-color: var(--typewriter-color);
  }
}

@keyframes typewriter {
  from { width: 0; }
  to { width: calc(33.28px * 12) } /* 33.28px - width of one character, 12 - length of the website name "My Top Words" */
}

@keyframes blinkingCursor{
  0%, 49% {
    display: block;
  }
  50%, 100% {
    display: none;
  }
}